.SideBarHeader H5 {
	font-weight: 600;
}

.SideBarSubheader {
	margin-top: 20px;
	margin-bottom: 20px;
}

.SideBarContent {
	padding: 15px;
}

.SideBarSubContent {
	margin-top: 30px;
	margin-bottom: 30px;
}

.SideBarInstStatus {
	width: 30px;
}

.inner-circle-glyph {
	position: relative;
	top: 1.4px;
	left: 2.6px;
	color: white;
}

.inner-circle-text{
	position: relative;
	top: 0px;
	left: 4.5px;
	color: white;
	font-weight: 600;
}

.sidebar-visit-status {
	padding-left: 15px;
	margin-bottom: 5px;
}

.sidebar-visit {
	margin-bottom: 10px;
}